.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background: #8F87F1;
    color: white;
    padding: 20px;
    position: relative;
    border-radius: 5px;
}

.navbar div {
    background-color: #beb9ef;
}

.navbar {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar .a {
    color: rgb(7, 7, 7) !important;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
}

.container .mb-3 {
    text-align: left;
    width: 100%;
}

.mb-3 .button {
    margin-bottom: 15px;
}

.footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.imagem-perfil .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.mb-3 {
    margin-bottom: 20px;
}

.ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.ul .li {
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ul .li:hover {
    background-color: inherit;
}

.collapse .ul {
    padding-left: 0;
    text-align: left;
}

.th {
    color: black;
}

.social-links {
    list-style-type: none;
    padding-left: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.social-links i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}
.social-links a:hover {
    color: #333;
    transition: color 0.3s ease-in-out;
}
